@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.5rem;
  background: #f7f7f9;
  background-size: cover;
}

body.active {
  filter: blur(4px);
}

ul,
li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  outline: none;
  text-decoration: none;
}

a:link {
  color: #344563;
}

a:hover {
  color: #000;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3rem;
  background: #fff;
}

header .my-logo-container {
  margin-left: 1.5rem;
}

header nav {
  display: flex;
  cursor: pointer;
  margin-right: 2.25rem;
  z-index: 1;
}

header .my-logo,
header .hamburger {
  display: block;
  width: 100%;
  z-index: 21;
}

.bar {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #7f8cff;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
  background-color: white;
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
  background-color: white;
}

.header-menu {
  display: none;
}

.toggle {
  display: none;
}

.toggle.active {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 65px;
  position: fixed;
  right: 0;
  top: 0;
  background-color: #0720f9c2;
  opacity: 0.9;
  padding-top: 90px;
  overflow-x: hidden;
  box-sizing: border-box;
  backdrop-filter: blur(8px);
}

.toggle-item a {
  font-size: 32px;
  color: white;
  font-weight: bold;
  padding-left: 28px;
}

main {
  margin-top: 3rem;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 7.125rem 1.5rem;
  background-image: url(images/header-shapes-mobile.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-bottom-left-radius: 90px;
  row-gap: 10px;
}

.header-primary-text {
  align-items: center;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 3.25rem;
  color: #172b4d;
  margin: 0.5rem 0;
}

.para-primary-text {
  color: #344563;
  margin: 0.5rem 0;
}

.connect {
  font-size: 1.0625rem;
  font-weight: 500;
  margin: 0.75rem 0;
  color: #7f8cff;
}

.social-media-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 10.636rem;
}

.s-m-icon {
  display: block;
  width: 100%;
}

.works {
  display: -ms-grid;
  display: grid;
  row-gap: 5.5rem;
  justify-content: center;
  padding: 7.125rem 1.5rem;
  align-items: center;
}

.project-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  box-sizing: border-box;
  background: #fff;
  width: 87.2%;
  margin: 0 auto;
}

.works .project-works .project-image-container {
  width: 100%;
}

.mobile-image {
  display: inline-block;
  width: 100%;
}

.project-works .project-body-block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  width: 100%;
  margin: 0.75rem 0;
}

.project-works .project-title {
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.75rem;
  margin: 0.75rem 0;
  color: #172b4d;
  width: 100%;
}

.project-works .project-info {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.75rem;
  margin: 0 0 0.75rem 0;
}

.project-works .project-info-items {
  font-weight: 600;
  font-size: 0.8125rem;
  line-height: 1rem;
  color: #474e59;
}

.project-works .canopy {
  color: #344563;
}

.project-works .project-primary-text {
  color: #344563;
  font-size: 0.9375rem;
  margin: 0 0 0.75rem 0;
}

.project-works .tags {
  display: flex;
  margin: 0 0 0.75rem 0;
  gap: 0.5rem;
  width: 100%;
  height: 1.5rem;
}

.project-works .tag {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
  padding: 0.25rem 0.75rem;
  border-radius: 8px;
  color: #3b4eff;
  background: #ebebff;
  letter-spacing: 0.03em;
}

.button-container {
  margin: 0.75rem 0;
}

.button {
  font-size: 1.0625rem;
  font-weight: 500;
  color: #3b4eff;
  letter-spacing: 0.03em;
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid #5364fc;
  background-color: #fff;
  box-sizing: border-box;
  cursor: pointer;
}

.button:enabled {
  background: #fff;
  color: #3b4eff;
}

.button:hover, {
  color: #fff;
  background: #000;
}

.button:active {
  background: #2230d2;
  color: #fff;
}

.button:disabled {
  color: #5e6c84;
}

.resume:hover {
  color: white;
}

.about-myself {
  border-bottom-left-radius: 0;
  border-top-right-radius: 90px;
}

.about-myself .top-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 1.5rem 0;
}

.about-myself-header {
  width: 1%;
}

.about-myself-sm-icons {
  justify-content: space-around;
  width: 12.5rem;
  height: 2.5rem;
  margin: 0.75rem 0;
}

.about-myself-btn {
  margin: 0.75rem 0 0 0;
}

.skill-lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 1.5em 0;
  padding: 1.5rem 0.75rem;
  width: 100%;
}

.frames-lang-lists-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
  margin: 0;
  width: 100%;
}

.frames-lfs {
  display: flex;
  align-items: center;
  width: 100%;
  height: 4.5rem;
  gap: 1.625rem;
}

.skill-title {
  font-weight: 500;
  font-size: 1.25rem;
  color: #000;
  width: 75%;
}

.language-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.75rem;
  width: 30%;
  margin: 0;
  padding: 0.75rem 0;
}

.language {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 4.17rem;
  border-radius: 8px;
  background: #f7f7f9;
}

.lang-name {
  font-weight: 500;
  font-size: 0.9375rem;
  line-height: 1.25rem;
  color: #000;
}

.line {
  width: 100%;
  height: 0.0625rem;
  background-color: #809de6;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact {
  display: flex;
  flex-direction: column;
  background-image: url(images/contact-form-background-shapes.svg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #6070ff;
  border-top-left-radius: 90px;
  padding: 80px 24px;
  align-items: center;
}

.contact-header {
  align-items: center;
  text-align: center;
  font-size: 40px;
  padding: 8px 0;
  color: white;
}

.contact-para {
  text-align: center;
  color: white;
  line-height: 30px;
  margin: 8px 0 40px 0;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

form label {
  display: flex;
  width: 100%;
}

form label input,
form label text area {
  width: 100%;
  background: #172b4d;
  border-radius: 8px;
  border: 1px solid #cfd8dc;
}

.contact-info {
  font-size: 16px;
  font-family: sans-serif, calibri;
  color: black;
  height: 36px;
  background: white;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  width: 327px;
  padding-left: 12px;
}

.contact-txt {
  font-size: 16px;
  font-family: sans-serif, calibri;
  color: black;
  background: white;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  height: 170px;
  padding-top: 8px;
  padding-left: 12px;
}

.contact-button {
  width: 140px;
  margin: 15px 0 30px 0;
}

#loginError {
  color: red;
}

/*  POPUP WINDOW  */
.project-pop {
  display: flex;
  position: fixed;
  z-index: 10;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(3px);
}

.project-container {
  position: absolute;
  z-index: 20;
  width: 75%;
  height: 90%;
  padding: 0 5%;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  overflow-x: hidden;
}

.project-container .fa-times {
  width: 12px;
  float: right;
  margin-right: 14px;
}

.project-name {
  font-size: 32px;
  margin-top: 38px;
  font-weight: bold;
  line-height: 64px;
}

.project-container .fa-xmark {
  position: absolute;
  top: 60px;
  right: 30px;
  cursor: pointer;
}

.project-tech {
  display: flex;
  gap: 3px;
  color: #7a869a;
  font-weight: 600;
  font-size: 16px;
}

.project-tech .project-info {
  color: black;
}

.project-tech span {
  width: 8px;
}

.popup-image {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 20px auto;
  justify-content: center;
  background-color: #e6e6e2;
  border-radius: 8px;
}

.popup-img {
  width: 70%;
}

.project-desc {
  float: left;
  font-size: 15px;
  line-height: 24px;
  font-weight: normal;
  width: 100%;
  margin-bottom: 20px;
}

.lang-container {
  display: flex;
  margin: 18px 24px 18px 0;
  gap: 8px;
  width: 100%;
  height: 1rem;
  align-items: center;
}

.project-lang {
  font-size: 0.75rem;
  font-weight: 500;
  line-height: 1rem;
  padding: 0.25rem 0.75rem;
  border-radius: 8px;
  color: #3b4eff;
  background: #ebebff;
  letter-spacing: 0.03em;
}

.line-span {
  margin: 20px auto;
  width: 100%;
  height: 1px;
  color: #dfe1e6;
}

.project-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  margin: 26px 0;
}

.project-btn {
  width: auto;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  gap: 10px;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 25px;
  padding: 12px 15px;
}

@media screen and (min-width: 768px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3rem;
    background: #fff;
  }

  header .hamburger {
    display: none;
  }

  header .my-logo-container {
    margin-left: 155px;
  }

  .header-menu {
    font-size: 15px;
    color: #344563;
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-right: 154px;
    margin-top: 0;
  }

  .headline {
    padding: 180px 260px;
  }

  .project-works {
    flex-direction: row;
    gap: 48px;
    padding-left: 12px;
    align-items: flex-start;
  }

  .project-body-block {
    gap: 22px;
  }

  .about-myself {
    flex-direction: row;
    padding: 80px 140px 0 140px;
    border-top-right-radius: 120px;
    background-color: #fff;
    margin: 0 0 100px 0;
  }

  .frames-lfs {
    justify-content: space-between;
  }

  .language-list {
    flex-direction: row;
    gap: 8px;
    width: 20%;
  }

  .language {
    background: #f7f7f9;
    margin-bottom: 30px;
  }

  .top-container {
    width: 70%;
  }

  .contact-info {
    font-size: 16px;
    font-family: sans-serif, calibri;
    color: black;
    height: 36px;
    background: white;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    width: 447px;
    padding-left: 12px;
  }

  .contact-txt {
    font-size: 16px;
    font-family: sans-serif, calibri;
    color: black;
    background: white;
    border: 1px solid #cfd8dc;
    border-radius: 8px;
    height: 170px;
    padding-top: 8px;
    padding-left: 12px;
  }

  /*  POPUP WINDOW  */
  .project-container {
    position: absolute;
    z-index: 20;
    width: 70%;
    padding: 0 5%;
    background: #fff;
    border: 1px solid #dfe1e6;
    border-radius: 16px;
    margin: 60px 32px;
  }

  .project-container .fa-xmark {
    position: absolute;
    top: 50px;
    right: 80px;
    cursor: pointer;
  }

  .project-name {
    font-size: 32px;
    margin-top: 38px;
    font-weight: bold;
    line-height: 64px;
  }

  .project-tech {
    display: flex;
    gap: 8px;
    color: #7a869a;
    font-weight: 600;
    font-size: 16px;
  }

  .project-tech .project-info {
    color: black;
  }

  .popup-image {
    align-items: center;
    width: 80%;
    height: 220px;
    margin: 20px auto;
  }

  .popup-img {
    width: 34%;
  }

  .project-desc {
    font-size: 15px;
    line-height: 24px;
    font-weight: normal;
    width: 65%;
  }

  .lang-container {
    display: flex;
    margin: 18px 24px 18px 0;
    gap: 8px;
    width: 30%;
    height: 1rem;
    align-items: center;
  }

  .project-lang {
    font-size: 0.75rem;
    font-weight: 500;
    line-height: 1rem;
    padding: 0.25rem 0.75rem;
    border-radius: 8px;
    color: #3b4eff;
    background: #ebebff;
    letter-spacing: 0.03em;
  }

  .line-span {
    margin: 20px auto;
    width: 30%;
    height: 1px;
    color: #dfe1e6;
    margin-left: 30px;
  }

  .project-button {
    display: flex;
    justify-content: center;
    gap: 20px;
    width: 30%;
    margin: 26px 0;
  }

  .project-btn {
    width: auto;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    gap: 10px;
    align-items: flex-start;
    margin-top: 5px;
    margin-bottom: 25px;
    padding: 12px;
  }
}
